<div class='container'>
  <div class='page-header'>
    <h1>Meet the Muses</h1>
  </div>
  <div class='row'>
    <% @campaigns.each do |c| %>
      <div class='col-xs-12 col-sm-4 col-md-3'>
        <div class="thumbnail">
          <a class='img-profile-link' href='<%= campaign_path c%>'><%= image_tag c.profile_picture.url :medium, :class => 'img-responsive img-rounded', :alt => 'Profile Picture' %></a>
          <div class="caption">
            <h4><%= c.firstname << " " << c.lastname %></h4>
            <p><%= c.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
