<div class="container">

------------------<br>
PAGE 1<br>
------------------

<p>Thank you for your interest in joining PROJECT MUSES!</p>

<p>We want to help students and families who have a demonstrated need for financial support gain greater access to music education.</p>

<p>We look forward to learning more about you!</p>

<h3>Directions</h3>

<ol>
	<li>Please complete everything below fully and honestly.</li>
	<li>Please be ready to submit <b>one</b> of the following documents:</li>
	<ul>
		<li>Proof of free or reduced lunch</li>
		<li>W-2 Forms from last year</li>
		<li>1040 Forms from last year</li>
	</ul>
	<li>Please be ready to submit <b>one or both</b> of the following:</li>
	<ul>
		<li>A picture of you</li>
		<li>A picture of your student if you are not the student</li>
	</ul>
	<li>You may <b>mail</b> these forms to: 111 E. Lorain Street Apt. 15B, Oberlin, OH 44074</li>
	<li>You may also <b>email</b> us at messengersandmuses@gmail.com.</li>
</ol>

<p>Before proceeding, please tell us whether you are applying as the STUDENT and ultimate beneficiary, or as the PARENT/LEGAL GUARDIAN of the STUDENT:</p>
<p>I am:</p>

<p>
<label><input type="radio" name="submitter_type" value="student"> The STUDENT</label> <br>
<label><input type="radio" name="submitter_type" value="parent"> The PARENT/LEGAL GUARDIAN</label>
</p>

------------------<br>
PAGE 2<br>
------------------

<h2>I. BASICS</h2>

<h3>THE STUDENT:</h3>

<p>
<label>Last Name: <input type="text" name="student_last"></label> <br>
<label>Middle Name: <input type="text" name="student_middle"></label> <br>
<label>First Name: <input type="text" name="student_first"></label> <br>
<label>Preferred Name/Nickname: <input type="text" name="student_nickname"></label> <br>
<label>Gender:  <input type="text" name="student_gender"></label> <br>
<label>Grade in school:  <input type="text" name="student_grade"></label> <br>
<label>Full name of school: <input type="text" name="student_school_name"></label> <br>
<label>City of school: <input type="text" name="student_school_city"></label> <br>
<label>Age:  <input type="text" name="student_age"></label> <br>
<label>Date of Birth (MM-DD-YYYY): <input type="text" name="student_birthdate"></label> <br>
</p>

<h3>PARENT/LEGAL GUARDIAN (#1):</h3>

<p>
<label>Last Name: <input type="text" name="parent1_last"></label> <br>
<label>Middle Name: <input type="text" name="parent1_middle"></label> <br>
<label>First Name: <input type="text" name="parent1_first"></label> <br>
<label>Gender: <input type="text" name="parent1_gender"></label> <br>
<label>Relation to the STUDENT: <input type="text" name="parent1_relation"></label> <br>
<label>Occupation: <input type="text" name="parent1_occupation"></label> <br>
<label>Highest Educational Degree Earned: <input type="text" name="parent1_degree"></label> <br>
</p>

<h3>PARENT/LEGAL GUARDIAN (#2, IF APPLICABLE):</h3>

<p>
<label>Last Name: <input type="text" name="parent2_last"></label> <br>
<label>Middle Name: <input type="text" name="parent2_middle"></label> <br>
<label>First Name: <input type="text" name="parent2_first"></label> <br>
<label>Gender: <input type="text" name="parent2_gender"></label> <br>
<label>Relation to the STUDENT: <input type="text" name="parent2_relation"></label> <br>
<label>Occupation: <input type="text" name="parent2_occupation"></label> <br>
<label>Highest Educational Degree Earned: <input type="text" name="parent2_degree"></label> <br>
</p>

<h3>PRIMARY CONTACT</h3>

<p>
<label>Primary Address: <input type="text" name="primary_address"></label> <br>
<label>City: <input type="text" name="primary_city"></label> <br>
<label>State: <input type="text" name="primary_state"></label> <br>
<label>Zip: <input type="text" name="primary_zip"></label> <br>
<label>Phone 1: <input type="text" name="primary_phone1"></label> <br>
<label>Phone 2: <input type="text" name="primary_phone2"></label> <br>
<label>Email Address: <input type="text" name="primary_email"></label> <br>
</p>


------------------<br>
PAGE 3<br>
------------------

<h2>II. FINANCIAL INFORMATION</h2>

<p>Please tell us about the circumstances that make you want to seek financial assistance.</p>
<p>
	<textarea name="financial_circumstances"></textarea>
</p>

<p>
<label>TOTAL HOUSEHOLD INCOME (taxed + untaxed incomes from previous year):<br>
<input type="text" name="financial_income"></label><br>
<label>AMOUNT IN DEBT:<br>
<input type="text" name="financial_debt"></label><br>
<label>AMOUNT IN SAVINGS:<br>
<input type="text" name="financial_savings"></label><br>
<label>AMOUNT IN ASSETS:<br>
<input type="text" name="financial_assets"></label><br>
</p>

<p>Please submit <b>one</b> of the following documents at this time*:</p>
<ol>
	<li>Proof of free or reduced lunch</li>
	<li>W-2 Forms from last year</li>
	<li>1040 Forms from last year</li>
</ol>

<p>Upload the file here:</p>
<p><input type="file" name="financial_document"></p>

<p>
*You may also <b>email</b> us the forms to <a href="mailto:messengersandmuses@gmail.com">messengersandmuses@gmail.com</a>. You may also <b>mail</b> these forms to the address mentioned above.
</p>

------------------<br>
PAGE 4<br>
------------------


<h2>III. ABOUT YOU (THE STUDENT)</h2>

<p>Please tell us about yourself (if PARENT/LEGAL GUARDIAN, please tell us about the STUDENT):</p>

<p><textarea name="about_student"></textarea></p>



Please tell us about where you live (your home, school, or town/city):

<p><textarea name="about_live"></textarea></p>



Briefly describe your project (e.g. taking lessons, participating in an after school program, attending a summer camp). Include the 1) names of any organizations associated with the project, 2) how long your project would last, and 3) how much funding you seek:

<p><textarea name="about_project"></textarea></p>

Tell us why this is important to you:

<p><textarea name="about_important"></textarea></p>


What is your favorite part about music?

<p><textarea name="about_favorite"></textarea></p>




Finally, what do you want to tell the people who want to support you?

<p><textarea name="about_message"></textarea></p>




<p>Please submit one or both of the following:</p>

<p>A picture of the STUDENT</p>
<p><input type="file" name="photo_student"></p>

<p>If you are the PARENT/LEGAL GUARDIAN, please attach a picture of yourself here.</p>
<p><input type="file" name="photo_guardian"></p>

<p>*You may also <b>email</b> us the forms to <a href="mailto:messengersandmuses@gmail.com">messengersandmuses@gmail.com</a>. You may also <b>mail</b> these forms to the address mentioned above.</p>


------------------<br>
PAGE 5<br>
------------------


<h2>IV. ALMOST THERE</h2>

<p>
Has the STUDENT ever been found responsible for a disciplinary violation at any school or educational institution he/she has attended, whether related to academic misconduct or behavioral misconduct that resulted in a disciplinary action? These actions could include, but are not limited to: probation, suspension, removal, dismissal, or expulsion from the school.
</p>
<p>
<label><input type="radio" name="misconduct_student" value="1"> Yes</label><br>
<label><input type="radio" name="misconduct_student" value="0"> No</label>
</p>

<p>
Has either PARENT/LEGAL GUARDIAN ever been adjudicated guilty or convicted of a misdemeanor, felony, or other crime?
</p>
<p>
<label><input type="radio" name="misconduct_parent" value="1"> Yes</label><br>
<label><input type="radio" name="misconduct_parent" value="0"> No</label>
</p>

<p>
<b>If yes</b>, please briefly describe:
</p>
<p><textarea name="misconduct_description"></textarea></p>															


<p><b>Please read the agreement below and sign and date on the spaces provided.</b></p>
<p>
I agree that everything I wrote here is honest and true. I agree that everything I wrote is my work and that the information I put down will not be returned to me.  I know that if any of the information I put down turns out false, I may lose parts or all of the earned support and program benefits, may be expelled from ProjectMuses, and may not be welcomed back again. I understand that applying guarantees neither acceptance into the program nor earned support for any projects in music education I have proposed above.
</p>
<p>
I understand that I have reviewed the instructions and that acceptance to the ProjectMuses is conditional.
</p>

<label>Your name:  <input type="text" name="signature_name"><br>
<label>Relation to STUDENT (if STUDENT, please write SELF): <input type="text" name="signature_relation"><br>
<label>Type your full name to serve as your signature:  <input type="text" name="signature_signature"><br>
<label>Today’s Date (MM-DD-YYYY):  <input type="text" name="signature_date"><br>

<p><b>***</b></p>
<p><b>MMUSES.ORG does not discriminate based on the basis of race, color, ethnicity, national origin, religion, creed, sex, age, marital status, physical disability, learning disability, political affiliation, veteran status, or sexual orientation.</b></p>
<p><b>***</b></p>
<p><b>All parts of this application will be kept confidential unless approved by its author for other purposes.</b></p>


------------------<br>
PAGE 6<br>
------------------

<div style="text-align:center;">
	<p><b>***</b></p>
	<p><b>Thank you very much! </b></p>
	<p><b>Expect to hear from us within two weeks!</b></p>
	<p><b>Please feel free to contact us with any questions or concerns at:<br>
		<a href="mailto:messengersandmuses@gmail.com">messengersandmuses@gmail.com</a></b></p>
</div>
 

</div>