
		<div class="container">
      <h1 class='page-header'>Project Muses</h1>

			<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
        <iframe src="//www.youtube.com/embed/sfH95sVIskc" frameborder="0" allowfullscreen></iframe>
			</div>
	
		</div>
    <%# <%= link_to "Apples", new_student_application_path  %>
