
		<div class="container">
      <h1 class='page-header'>Project Muses</h1>

      <p class="alert alert-info">Welcome to Project Muses!<br/>
      We are dedicated to increasing access to music education for students who need and want it most.  These students--Muses--hope to pursue a variety of projects, from attending summer music camps, getting a new instrument, or attending after-school ensemble programs.  They seek support from from Messengers to make those projects come true.<br/><br/>
      
      Please explore, learn about our Muses, and join us to become a Messenger!<br/><br/>
      
      *If you have students you believe could benefit from this enterprise, please <a href="<%= contact_url %>">contact us</a>.<br/>
      **Since we are currently in beta-testing, any and all feedback about any aspect of the site would be greatly appreciated!
      </p>
			<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
				<iframe allowfullscreen="" src="http://youtu.be/sfH95sVIskc" frameborder="0" allowfullscreen></iframe>
			</div>
	
		</div>
    <%# <%= link_to "Apples", new_student_application_path  %>
