
		<div class="container">
      <h1 class='page-header'>Project Muses</h1>

			<!-- <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;"> -->
        <!-- <iframe src="http://www.youtube.com/embed/sfH95sVIskc" frameborder="0" allowfullscreen></iframe> -->
        <div style="text-align: center;">
          <iframe width="854" height="510" src="//www.youtube.com/embed/sfH95sVIskc" frameborder="0" allowfullscreen></iframe>
        </div>
			<!-- </div> -->
	
		</div>
