<div class="container">
  ------------------<br>
  PAGE 6<br>
  ------------------

  <div style="text-align:center;">
    <p><b>***</b></p>
    <p><b>Thank you very much! </b></p>
    <p><b>Expect to hear from us within two weeks!</b></p>
    <p><b>Please feel free to contact us with any questions or concerns at:<br>
      <a href="mailto:messengersandmuses@gmail.com">messengersandmuses@gmail.com</a></b></p>
  </div>
</div> 
